* {
  box-sizing: border-box;
}

@font-face {
  font-family: "proxima-nova-bold";
  font-weight: bold;
  src: url("../fonts/proxima-nova-bold.otf") format("truetype");
}

@font-face {
  font-family: "sentinel-bold";
  font-weight: bold;
  src: url("../fonts/sentinel-bold.otf") format("truetype");
}

:root {
  --black: rgb(19, 14, 13);
  --grey: rgb(244, 243, 243);
  --presentation-background: rgb(204, 204, 204);
  --red: rgb(231, 43, 71);
  --sans-serif: "proxima-nova-bold", sans-serif;
  --serif: "sentinel-bold", serif;
  --white: rgb(255, 255, 255);
}

body {
  align-items: center;
  background-color: var(--presentation-background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.back {
  color: var(--black);
  font-family: var(--serif);
  padding: 50px;
  background-color: var(--grey);
}

.back ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.back a {
  color: var(--black);
  text-decoration: none;
}

.card {
  border: 14px solid var(--white);
  height: 300px;
  width: 430px;
}

.front {
  align-items: center;
  background-color: var(--red);
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
  text-transform: uppercase;
}

.front h1 {
  background-color: var(--white);
  color: var(--red);
  font-family: var(--sans-serif);
  padding: 0.4em;
}
