<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Red Badger | Business card workshop</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="./style.css" />
</head>
<body>

  <article class="card front">
    <h1>Red Badger</h1>
  </article>

  <article class="card back">
    <h1>Your name </h1>
    <h2>Your title</h2>

    <footer class="details">
      <ul>
        <li>
          <a href="tel:+440000000000">+44 0000 000 000</a>
        </li>
        <li>
          <a href="maito:firstname.lastname@red-badger.com">firstname.lastname@red-badger.com</a>
        </li>
      </ul>

      <picture class="sally">
        <img src="../assets/images/sally.svg" alt="Red Badger logo">
      </picture>
    </footer>
  </article>
</body>
</html>